<% include partials/header %>

<main class="container text-center">
    <header class="container">
        <h1>Product Name</h1>
        <small class="text-muted">With faded secondary text</small>
    </header>

    <section class="container">
        <img class="img-fluid" src="http://www.marylandpoloclub.com/wp-content/uploads/2016/04/placeholder.jpg">
    </section>
    <section class="conatiner">
        <div class="row">
            <div class="col">
                <h3><i class="fas fa-water"></i></h3>
            </div>
            <div class="col">
                <h3>Know it, Love it</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique necessitatibus,
                    architecto
                    tenetur consectetur ipsa obcaecati sint optio voluptas nulla!</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3><i class="fas fa-tint"></i></h3>
            </div>
            <div class="col">
                <h3>Taste Quality</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique necessitatibus,
                    architecto
                    tenetur consectetur ipsa obcaecati sint optio voluptas nulla!</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3><i class="fas fa-users"></i></h3>
            </div>
            <div class="col">
                <h3>Superior Customer connection</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique necessitatibus,
                    architecto
                    tenetur consectetur ipsa obcaecati sint optio voluptas nulla!</p>
            </div>
        </div>
    </section>
    <section class="container">

    </section>
</main>

<% include partials/footer %>