<% include partials/header %>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Water Co. <i class="fas fa-running"></i></a>
    <p>Contact us: <a href="mailto:example@email.com?Subject=Water%20Questions">example@email.com</a></p>

</nav>
<main class="container-fluid text-center">


    <section class="container-fluid">
        <header class="text-left">
            <h1>Header Text</h1>
            <p>secondary text</p>
        </header>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-md-4 d-none d-sm-none d-md-block">
                <p class="display-1"><i class="fas fa-water"></i></p>
            </div>
            <div class="col-md-8">
                <h3>Know it</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique necessitatibus,
                    architecto
                    tenetur consectetur ipsa obcaecati sint optio voluptas nulla!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique necessitatibus,
                    architecto
                    tenetur consectetur ipsa obcaecati sint optio voluptas nulla!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-none d-sm-none d-md-block">
                <p class="display-1"><i class="fas fa-tint"></i></p>
            </div>
            <div class="col-md-8">
                <h3>Love it</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique necessitatibus,
                    architecto
                    tenetur consectetur ipsa obcaecati sint optio voluptas nulla!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique necessitatibus,
                    architecto
                    tenetur consectetur ipsa obcaecati sint optio voluptas nulla!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-none d-sm-none d-md-block">
                <p class="display-1"><i class="fas fa-users"></i></p>
            </div>
            <div class="col-md-8">
                <h3>Trust it</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique necessitatibus,
                    architecto
                    tenetur consectetur ipsa obcaecati sint optio voluptas nulla!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique necessitatibus,
                    architecto
                    tenetur consectetur ipsa obcaecati sint optio voluptas nulla!</p>
            </div>
        </div>
    </section>
    <section id="join">

        <h3>Want to know more?</h3>
        <form action="" class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>

    <section>
        <div class="row">
            <div class="col">
                <h3>Select a package</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Package 1</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam
                            recusandae
                            mollitia veritatis at fugiat.</p>
                        <button type="submit" class="btn btn-dark">Select</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Package 2</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam
                            recusandae
                            mollitia veritatis at fugiat.</p>
                        <button type="submit" class="btn btn-dark">Select</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Package 3</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam
                            recusandae
                            mollitia veritatis at fugiat.</p>
                        <button type="submit" class="btn btn-dark">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-left">
        <div class="row" id="border">
            <div class="footer-links col-md-3 col-sm-12">
                <h2>Water Co. <i class="fas fa-running"></i></h2>
                <p>&copy; Water Co. <br>
                    All Rights Reserved</p>
            </div>

            <div class="footer-links col-md-2">
                <a class="h3" href="#">Contact</a>
            </div>
            <div class="footer-links col-md-2">
                <a class="h3" href="#">Terms</a>
            </div>
            <div class="footer-links col-md-2">
                <a class="h3" href="#">Other</a>
            </div>

            <div class="footer-links col-md-3 col-sm-12">
                <p>Water Co. LLC <br>
                    114 main st. <br>
                    Albuquerque, NM 87114</p>
                <p><a href="mailto:example@email.com?Subject=Water%20Questions">example@email.com</a> <br>
                    <a href="tel:555-555-5555">555-555-5555</a>
                </p>
            </div>
        </div>
        <div class="col" id="footer-form">
            <h3>Stay in the loop</h3>
            <form action="" class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </footer>
</main>

<% include partials/footer %>